html{
  height:100%;
  width:100%;
  margin:0;
  padding:0;
}
body{
  height:100%;
  width:100%;
  margin:0;
  padding:0;
  background-image:url("../images/courses.jpg");
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center;
}
table{
  border-spacing: 8px;
  margin:0 auto;
  padding-top: 60px;
}
h3{
  margin:10px;
}
td{
  width: 450px;
  padding:10px;
  background-color: rgba(220, 220, 220, 0.6);
  border-radius: 15px;
  box-shadow: 2px 4px 8px rgba(50, 50, 50, 0.3);
}
a:hover{
  color:#b7b7b7;
}
a{
  color:#efefef;
}
.main{
  background-color: rgba(100, 100, 100, 0.6);
  color:rgb(10, 10, 10);
  text-align: center;
  height:100%;
  width:100%;
}
#logo{
  color:rgb(50, 50, 50);
  font-family: dancing script;
  font-size: 30px;
  display:block;
  position:fixed;
  top:0;
  left:0;
  padding:3px;
  padding-left:8px;
}
